* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #F0F8FF;
    --main-inc-color: #8a2be2;
    --comp-color: red;
    --player-color: royalblue;
    --field-size: 5;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.box {
    margin: 20px 5px;
    width: min(100vw - 10px, 400px);
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(var(--field-size), 1fr);
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.cell {
    font: 50px Tahoma, sans-serif;
    padding: 0 0 100%;
    position: relative;
    border-radius: 10px;
    box-shadow:inset 0 0 0 2px gray;
    background-color: var(--main-color);
    touch-action: none;
    user-select: none;
}

.message {
    color: var(--main-inc-color);
    font-size: 90px;
    font-style: italic;
    display: inline-block;
}

.cell div,span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.digit {
    cursor: grab;
}

.player {
    --border-color: var(--player-color);
}

.comp {
    --border-color: var(--comp-color);
}

.best {
    color: green;
    border: solid 2px green;
}

.cell.disabled {
    cursor: not-allowed;
    border: solid 2px var(--border-color);
}

.digit.disabled {
    overflow: hidden;
    animation-name: bump;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@media (max-width: 600px) {
    .hidden2 {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    .message {
        font-size: 30px;
    }
}

.hole {
    color: transparent;
    cursor: default;
}

.cell.last {
    box-shadow: inset 0 0 0 5px var(--border-color);
}

.flip {
    transform: scale(-1, 1);
}

.active {
    background-color: var(--player-color);
}

.active.comp {
    background-color: var(--comp-color);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 70%);
    transition: opacity 700ms;
    visibility: hidden;
    opacity: 0;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 1.5rem
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 400ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: var(--player-color);
}

.popup .content {
    max-height: 30%;
    font-size: 1.2rem;
    overflow: auto;
}

.panel-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.relative {
    position: relative;
}

.control-panel {
    top: 10px;
    right: 10px;
    background-color: #323232;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    display: flex;
    z-index: 2;
    flex-direction: column;
    min-width: 320px;
    transition: min-height 0.3s ease, padding 0.3s ease, min-width 0.3s ease;
    gap: 5px;
}

.control-panel.minimized {
    min-width: auto;
    min-height: auto;
    gap: 0;
    display: block !important;
    margin-left: 0;
    padding: 5px;
    outline: none;
    outline-offset: 2px;
    border-radius: 3px;
}

.contrl-btn {
    font-family: Cambria, Georgia, serif;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    overflow: hidden;
    font-size: 2rem;
    padding: 0 3px;
}

.control-panel button:not(:disabled):active {
    background-color: #7a7a7a;
    transform: translateY(1px);
}

.control-panel button:not(:disabled):hover { background-color: #686868; }

/* Стили для формы, созданной функцией createFormBinder */

.formbinder-form {
    /* Стили для формы в целом */
}

.formbinder-field-container {
    margin: 10px 0;
}

.formbinder-label {
    display: inline-block;
    width: 120px;
}

.formbinder-error {
    color: red;
}


dialog {
    border: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

.circled {
    display: grid;
    align-items: center;
    justify-content: center;
}

.circled::before {
    content: "";
    grid-area: 1 / 1;
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid white;
}

.circled::after {
    content: "?";
    grid-area: 1 / 1;
}

.hidden {
    display: none;
}
